header
{
background-color:#dddddc;
text-align:center;
}

header ul {
    text-align: center;
} 

header ul li {
    display: inline;
    padding: 10px;
    text-decoration: none;
    position: relative;
}

article {
    
}

article img {
    width: 150px;
    height: 200px;
    position: relative;
    left: 100px;
}

aside {
    position: relative;
    top: 50px;   
    text-align:right;

}